input.search_form_searchfield {
   color: #555;
   background-color: #fff;
   border: 2px solid #555 !important;
}

button.search_form_searchbutton {
   background: #555 !important;;
   color: #555;
}